/* Variables */

:root {
  --black: #000000;
  --form-text-black: #283136;
  --white: #ffffff;
  --special-white: rgba(255,255,255,0.3);
  --grey: #EEEEEE;
  --darker-grey: #D7DCDF;
  --dark-grey:#ABABAB;
  --shadow-grey: #CFCFCF;
  --checkbox-grey: #4D4D4D;
  --product-card-text-grey: #666666;
  --red: #FB565A;
  --darker-red: #E74246;
  --dark-red: #D7373B;
  --green: #00CA74;
  --darker-green: #00BC6C;
  --dark-green: #00AA62;
  --yellow: #EFC849;
  --darker-yellow: #EAB534;
  --dark-yellow: #E5A722;
}

/* Global */

body {
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.main-header {
  background-color: var(--grey);
  padding: 0;
}

.container {
  max-width: 1160px;
  padding: 0px 40px;
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: transparent;
  padding-top: 49px;
}

.main-navigation a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}

.main-navigation a:hover {
  color: var(--red);
}

.main-navigation a:active {
  color: var(--black);
  opacity: 0.3;
}

.main-navigation-logo {
  max-height: 65px;
}

.main-navigation-logo img {
  width: 160px;
  height: 65px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-right: 85px;
  padding: 0;
  padding-bottom: 9px;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.cart {
  position: relative;
  padding-bottom: 9px;
}

.cart::before {
  position: absolute;
  content: " ";
  width: 15px;
  height: 15px;
  top: 7px;
  left: -40px;
  background-image: url(../img/cart-icon.svg);
}

/* Main */

.features-description p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 38px;
}

.features-section-wrapper {
  background-color: var(--grey);
  padding: 0;
}

.features-section {
  display: flex;
}

.features-description h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 27px;
}

.features-description {
  max-width: 400px;
  padding-top: 78px;
  padding-bottom: 80px;
}

.learn-more-button-wrapper {
  padding-top: 14px;
  padding-bottom: 12px;
}

.learn-more-button {
  width: 132px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  padding: 17px 54px;
  padding-bottom: 15px;
  background-color: var(--red);
  border-radius: 3px;
  border: none;
}

.learn-more-button:hover {
  background-color: var(--darker-red);
}

.learn-more-button:focus {
  color: var(--special-white);
  background-color: var(--dark-red);
}

.features-section img {
  width: 760px;
  height: 431px;
  background-color: var(--grey);
  align-self: flex-end;
}

.product-list {
  display: flex;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  border-bottom: 2px solid var(--grey);
}

.product-item {
  width: 300px;
  margin-right: 100px;
}

.product-item:last-child {
  margin-right: 0;
}


.product-item img {
  width: 300px;
  height: 146px;
  margin-bottom: 20px;
}

.sites img {
  background-color: var(--red);
}

.apps img {
  background-color: var(--green);
}

.presentations img {
  background-color: var(--yellow);
}

.product-item h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.product-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 32px;
}

.product-item button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  padding: 17px 40px;
  padding-bottom: 15px;
  border: none;
  border-radius: 3px;
}

.sites button {
  background-color: var(--red);
}

.sites button:hover {
  background-color: var(--darker-red);
}

.sites button:focus {
  color: var(--special-white);
  background-color: var(--dark-red);
}

.apps button {
  background-color: var(--green);
}

.apps button:hover {
  background-color: var(--darker-green);
}

.apps button:focus {
  color: var(--special-white);
  background-color: var(--dark-green);
}

.presentations button {
  background-color: var(--yellow);
}

.presentations button:hover {
  background-color: var(--darker-yellow);
}

.presentations button:focus {
  color: var(--special-white);
  background-color: var(--dark-yellow);
}

.product-description-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding-top: 39px;
  padding-bottom: 73px;
  border-bottom: 2px solid var(--grey);
}

.product-description {
  width: 660px;
  padding-top: 34px;
}

.product-description p {
  margin: 0;
  margin-bottom: 40px;
}

.product-description h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 33px;
}

.product-description-wrapper h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.product-description-list {
  margin: 0;
  padding: 0;
  padding-left: 36px;
  list-style: none;
}

.product-description-list li {
  position: relative;
  margin-bottom: 24px;
}

.product-description-list li:last-child {
  margin-bottom: 0;
}

.product-description-list li:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--red);
  top: 12px;
  left: -36px;
}

.statistic-numbers-wrapper img {
  width: 360px;
  height: 208px;
  margin-bottom: 30px;
  background-color: var(--white);
}

.statistic-numbers-wrapper h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.statistic-numbers-list {
  width: 358px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.statistic-item {
  flex: 1;
}

.statistic-item h4 {
  position: relative;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.statistic-item p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.statistic-item span {
  position: absolute;
  top: 0;
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.logo-list-wrapper {
  padding-top: 46px;
  padding-bottom: 37px;
  border-bottom: 2px solid var(--grey);
}

.logo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo-list li {
  flex: 1;
  text-align: center;
  align-items: baseline;
  margin: 0;
  opacity: 0.2;
}

.logo-list li:first-child {
  padding-top: 18px;
}

.logo-list li:nth-child(3) {
  padding-top: 20px;
}

.logo-list li:hover {
  opacity: 1;
}

.logo-list li:active {
  opacity: 0.1;
}

.map-section {
  position: relative;
  height: 416px;
  background-image: url(../img/map.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

.map-main-page {
  padding-top: 80px;
}

.contacts {
  position: absolute;
  top: 134px;
  width: 219px;
  background-color: var(--white);
  padding: 49px 50px;
  padding-bottom: 47px;
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;
}

.contacts button {
  width: 219px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  padding: 17px 44px;
  padding-bottom: 15px;
  background-color: var(--red);
  border-radius: 3px;
  border: none;
}

/* Shop - filters-list */

.filters-wrapper {
  max-width: 260px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-section legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.price-filter {
  margin-bottom: 54px;
}

.price-filter legend {
  margin-bottom: 48px;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--darker-grey);
}

.range-controls .bar {
  height: 2px;
  background: var(--green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--dark-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-grey);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: var(--form-text-black);
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--form-text-black);
  border: none;
  border-radius: 5px;
  background: var(--grey);
  font-family: inherit;
  font-size: inherit;
}

.filter-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 37px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 15px;
  color: var(--form-text-black);
}

.filter-option:last-child label {
  margin: 0;
}

.grid-filter {
  margin-bottom: 45px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: -1px;
  width: 18px;
  height: 18px;
  border: 4px solid var(--checkbox-grey);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -30px;
  width: 9px;
  height: 9px;
  background-color: var(--checkbox-grey);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -38px;
  width: 25px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.features-filter {
  margin-bottom: 50px;
}

.filter button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--grey);
  border: none;
  border-radius: 3px;
  padding: 17px 88px;
  padding-bottom: 15px;
}

/* Shop */

.shop-header {
  background-color: var(--grey);
  padding-top: 78px;
  padding-bottom: 108px;
}

.shop-header h1 {
  max-width: 750px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.catalog-section {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 60px;
}

.sort-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  margin-bottom: 48px;
}

.sort-wrapper h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.sort-list {
  display: flex;
  justify-self: end;
  align-self: center;
  margin: 0;
  margin-right: 47px;
  padding: 0;
  list-style: none;
}

.sort-list a {
  color: var(--black);
}

.sort-list li {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-right: 25px;
}

.sort-list li:last-child {
  margin-right: 0;
}

.up {
  margin-right: 18px;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  width: 360px;
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 41px;
  border: 1px solid var(--darker-grey);
  border-radius: 5px;
}

.catalog-item::before {
  content: " ";
  position: absolute;
  width: 360px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url(../img/browser.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.catalog-item:hover::before {
  opacity: 1;
}

.product-image {
  width: 360px;
  height: 578px;
  background-color: var(--darker-grey);
  padding: 0;
  margin: 0;
}

.product-card {
  position: absolute;
  bottom: 6px;
  background-color: var(--grey);
  padding: 26px 80px;
  padding-bottom: 44px;
}

.product-card h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
}

.product-card p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--product-card-text-grey);
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

.product-card button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
  padding: 17px 72px;
  padding-bottom: 15px;
  border: none;
  border-radius: 3px;
}

.pages-wrapper ul {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pages-wrapper li {
  margin-right: 11px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.page-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--grey);
  border: 3px solid var(--grey);
  padding: 14px 17px;
  padding-bottom: 12px;
  border-radius: 3px;
  color: var(--black);
}

.current-page {
  background-color: var(--white);
}

.next-page {
  padding: 14px 74px;
  padding-bottom: 12px;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-bottom: 68px;
  padding-top: 68px;
}

.social-list {
  width: 261px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 139px;
  padding: 0;
  list-style: none;
}

.social-item {
  width: 81px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  margin: 0;
  border-radius: 50%;
}

.social-discount {
  align-self: flex-end;
}

.social-discount h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.social-discount p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 6px;
}
